<footer id="footer" class ="footer-tag">
    <span id="footerName" class="footer-name">Sami, 2021</span>
    <a id="emailLink" class= "link-footer" href="mailto: ssaxtongetty@mail.sfsu.edu"> Email Me</a>
</footer>