<nav id="navBar">
    <div>
        <div class="container">
            <div id="logo" class="logo-header">
                <img src="../public/images/icons/wow.png" class="logo-position">
            </div>
            <div class="search-bar">
                <input id="search-text" class="to-search" name="searchText" type="text" placeholder="Enter your search">
                <button type="submit" id="search-button" class="search-submit">Search</button>
            </div>
            <ul>
                <li><a href="/"><i id="home" class="nav-items anchorButtons" aria-hidden="true"></i>HOME</a></li> 
                <li><a href="/postimage"><i id="postButton" class="nav-items anchorButtons" aria-hidden="true"></i>POST</a></li>
                {{#if logged}}
                <li><a href="#"><i id="logout-button" class="nav-items anchorButtons" aria-hidden="true">LOGOUT</i></a></li>
                {{else}}
                <li><a href="/login"><i id="logout-button" class="nav-items anchorButtons" aria-hidden="true"></i>LOGIN</a></li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>