<nav id="navBar">
    <div id="brand" class="nav-items">
        <a href="/" id="brandAnchor"><span id="brandText"><i style="marginRight: .2rem;"></i>Sami's Website</span></a>
    </div>

    <input id="searchText" name="searchText" type="text">

    <div id="textBarIcon">
        <i id="sicon" class="fas fa-search nav-items"></i>
    </div>

    <a href="/postimage" id="postButton" class="nav-items anchorButtons">Post</a>
    {{!-- {{#if}}

    {{#else}}

    {{/if}} --}}
    <a href="/login" id="authenticateButton" class="nav-items anchorButtons">Log in</a>
</nav>