<nav id="navBar">
    <div id="brand" class="nav-items">
        <a href="/" id="brandAnchor"><span id="brandText"><i style="marginRight: .2rem;"></i>Sami's Website</span></a>
    </div>

    <input id="searchText" name="searchText" type="text">

    <div id="textBarIcon">
        <i id="sicon" class="fas fa-search nav-items"></i>
    </div>

    <a href="/postimage" id="postButton" class="nav-items anchorButtons">Post</a>

    {{#if logged}}
    <a id="logout-button" class="nav-items anchorButtons">Log Out</a>   
    {{else}}
    <a href="/login" id="logout-button" class="nav-items anchorButtons">Log in</a>
    {{/if}}
    
</nav>