<head>
	<title> Image Post </title>
</head>
<body>
	<header>
		<h2> Image Title: </h2>
	</header>
	<div>
		<form>
			<legend> <strong> Post Information </strong> </legend>

				<section>
					Image Description
				</section>

				<br />

				<section>
					Author:
				</section>

				<br />

				<section>
					Date Created: 2/2/2021
				</section>

				<br />

				<section>
					Time Created: 3:08 AM
				</section>

				<br />

				<img src="https://fakeimg.pl/300/" alt="This was a fake image.">
		</form>
	</div>
</body>