<head>
	<title> Image Upload </title>
</head>
<body>
	<div class="center">
			<h2> ~ POST AN IMAGE ~ </h2>
		<form id = "post-image" class="post-stuff" method="POST" enctype="multipart/form-data" action='/posts/createPost'>
			<legend> <strong class="post-strong-title"> Post Information </strong> </legend>

			<label for="postTitle"> Enter your post title: </label>
			<input type="text" id="setPostTitle" name="postTitle" placeholder="Title" required />

			<br />

			<label for="description"> Give your post a description: </label>
			<input type="text" id="setDescription" name="description" placeholder="Description" required />

			<br />

			<label for="image"> Pick your image to post: </label>
			<input type="file" id="setImage" name="image" required />

			<br />

			<div>
				<section>
					Please accept the policy below for uploading images: 
				</section>
			</div>

			<label for="policy"> Do you accept the <a href="https://classic.warcraftlogs.com/guild/rankings/480534/latest#fightmetric=speed"> Acceptable Use Policy </a> ? </label>
			<input type="checkbox" id="setPolicy" name="policy" required />

			<button type="submit"> Submit </button>
			<button type="reset"> Reset </button>
		</form>
	</div>
</body>