<head>
    <script defer type="text/javascript" src="/public/js/formValidation.js"></script>
    <title> Registration </title>
</head>
<body>
	<header>
		<h2 class="subject"> CREATE YOUR ACCOUNT </h2>
	</header>
	<form id="form" method="POST" action="/users/register" enctype="application/x-www-form-urlencoded" />
		<fieldset class="fieldset-one">
			<legend> <strong class="acc-req"> Account Requirements </strong> </legend>

			<label for="username"> Create your Username: </label>
			<input type="text" id="setUsername" name="username" placeholder="Username" required />

            <br />

            <label for="email"> Enter your Email: </label>
			<input type="email" id="setEmail" name="email" placeholder="Email" required />

            <br />

			<label for="password"> Create your Password: </label>
			<input type="password" id="setPassword" name="password" placeholder="Password" required />

            <br />

            <label for="confirmPw"> Confirm your Password: </label>
			<input type="password" id="setConfirmPw" name="confirmPw" placeholder="Confirm Password" required />

		</fieldset>
        <fieldset class="fieldset-one">
            <legend> <strong class="acc-req2"> Age & Privacy Confirmations </strong> </legend>

            <p>
                <section class="section-color">
                    Please check the box(s) below if you agree:
                </section>
            </p>

            <label for="username"> Are you 13+ years of age? </label>
            <input type="checkbox" id="setOfAge" name="ofage" required />

            <br />
            
            <label for="username"> Do you accept the <a href="link"> TOS and Privacy Rules </a> ? </label>
            <input type="checkbox" id="setRules" name="rules" required />
        </fieldset>
        
        <button type="submit" class="submit-button"> Submit </button>
        <button type="reset" class="reset-button"> Reset </button>
	</form>
</body>